.card-button {
  color: white;
  text-decoration: none;
  align-items: center;

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}

}

.show-button {
  color: $purple;

  a:-webkit-any-link {
  text-decoration: none;
  color: $purple;
  &:hover {
    color: white;
  }
}

}

#button-back {
  color: white;
  text-decoration: none;
  align-items: center;
  text-align: center;

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}
}

.form_button {
  background-color: $gray;
  text-decoration: none;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  height: 10px;
  width: 20px;
  a:-webkit-any-link {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}
}













