.card-button {
  color: white;
  text-decoration: none;
  align-items: center;

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}

}

.show-button {
  color: $purple;

  a:-webkit-any-link {
  text-decoration: none;
  color: $purple;
  &:hover {
    color: white;
  }
}

}
