.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: top;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-button {
  color: white;
  font-size: 15px;
  justify-content: start;
  text-decoration: none;
  text-align: right;
  position: absolute;
  bottom: -10px;
  right: 10px;
}

.card-ingredient {
  height: 50vh;
  width: 75%;
  justify-content: left;
}

.card-options {
  text-align: right;
  flex-grow: 1;

}


.cocktail-card p {
  padding: 10px
}

.cocktail-name p {
  font-family: 'Montserrat', sans-serif;
}





















