.navbar {
  justify-content: space-between;
  background: white;
  height: 60px;
}

.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.heart {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
